[tool.poetry]
name = "opshin"
version = "0.12.1"
description = "A simple pythonic programming language for Smart Contracts on Cardano"
authors = ["nielstron <n.muendler@web.de>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/opshin/opshin"
documentation = "https://opshin.opshin.dev/"
keywords = ["python", "language", "programming-language", "compiler", "validator", "smart-contracts", "cardano"]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "Topic :: Software Development :: Compilers",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
]
packages = [{include = "opshin"}]

[tool.poetry.dependencies]
python = ">=3.8, <3.12"
uplc = "^0.6.1"
pluthon = "^0.3.3"
pycardano = "^0.8.0"
frozenlist = "^1.3.3"

[tool.poetry.group.dev.dependencies]
hypothesis = "6.70.2"
parameterized = "0.9.0"
black = "23.3.0"
pre-commit = "^3.1.1"
coverage = "<7.0"
pytest = "^7.2.2"
coveralls = "^3.3.1"
poetry-bumpversion = "^0.3.0"

[tool.poetry.scripts]
opshin = "opshin.__main__:main"

[tool.poetry_bumpversion.file."opshin/__init__.py"]

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
