[tool.poetry]
name = "opshin"
version = "0.22.0"
description = "A simple pythonic programming language for Smart Contracts on Cardano"
authors = ["nielstron <n.muendler@web.de>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/opshin/opshin"
documentation = "https://opshin.opshin.dev/"
keywords = ["python", "language", "programming-language", "compiler", "validator", "smart-contracts", "cardano"]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "Topic :: Software Development :: Compilers",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
]
packages = [{include = "opshin"}]

[tool.poetry.dependencies]
python = ">=3.8.1, <3.12"
uplc = "^0.6.10"
pluthon = "^0.5.4"
pycardano = "^0.11.1"
frozenlist2 = "^1.0.0"
astunparse = {version = "^1.6.3", python = "<3.9"}
ordered-set = "^4.1.0"


[tool.poetry.group.dev.dependencies]
hypothesis = "^6.98.2"
parameterized = "^0.9.0"
black = "^24.1.1"
pre-commit = "^3.3.2"
coverage = "<8.0"
pytest = ">=7.3.1,<9.0.0"
coveralls = "^3.3.1"
poetry-bumpversion = "^0.3.0"

[tool.poetry.scripts]
opshin = "opshin.__main__:main"

[tool.poetry_bumpversion.file."opshin/__init__.py"]

[build-system]
requires = ["setuptools", "poetry-core"]
build-backend = "poetry.core.masonry.api"
